<td-layout>
  <!-- Side Bar Component Temaple  -->
  <td-navigation-drawer flex [sidenavTitle]="name" color="primary" logo="assets:logo" name="Abdallah Khalil" email="polla.dev@gmail.com">
    <mat-nav-list>
      <a *ngFor="let item of routes" mat-list-item [routerLink]="item.route">
        <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a *ngFor="let item of usermenu" mat-list-item>
          <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav logo="assets:logo" [toolbarTitle]="name" navigationRoute="/">

    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="end center" flex>
      <a mat-icon-button matTooltip="Docs" matTooltipPosition="before" target="_blank">
        <mat-icon>chrome_reader_mode</mat-icon>
      </a>
    </div>

    <!-- router outlet goes here -->
    <div class="conatiner-list">
      <router-outlet></router-outlet>
    </div>

    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
      </div>
    </td-layout-footer>

  </td-layout-nav>


</td-layout>
