
.avatar {
    border: 1px solid;
    padding: 10px;
}

.avatar mat-icon {
    vertical-align: middle;
    padding: 8px;
}

.title {
    padding-top: 11px;
    font-size: 15px;
    font-weight: bold;
}
