/* You can add global styles to this file, and also import other style files */


/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

body,
html {
    background-color: #e9e9e9 !important;
}

mat-toolbar .mat-icon.mat-icon-logo {
    width: 80px;
    height: 80px;
}

.hoverd {
    font-size: 35px;
}
